@{
    ViewBag.Title = "Contact";
}

<h3>@ViewBag.Message</h3>

<address>
    <strong>
        Phone :
    </strong>
    <a href="tel:+44 7522777211">+44 7522777211</a>
</address>

<address>
    <strong>Queries:</strong>   <a href="mailto:alexjex13@yahoo.co.uk">alexjex13@yahoo.co.uk</a><br />
</address>